@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div id="headerwrap" class="row">
    <h2>Для доступа к сайту необходима авторизация</h2>
    @*<p class="lead"></p>*@
    @*<p><a href="" class="btn btn-primary btn-lg">Войти в чат &raquo;</a></p>*@
    @*<div id="glass">
        <div class="conteinerRegImage">
            <div class="row centered">*@
    @*<br><br>
           <div class="col-lg-6">
               <div class="tilt">
                   <a href="../Account/Register"><img src="~/Content/Image/ball_Register.png" alt=""></a>
               </div>
           </div>
           <div class="col-lg-6">
               <div class="tilt">
                   <a href="../Account/Login"><img src="~/Content/Image/ball_Login.png" alt=""></a>
               </div>
        </div>*@
    @*</div>
              </div>
        </div>*@


</div>





